*{
    margin: 0;
    padding: 0;
    user-select: none;
}
header {
    width: 100%;
    height: 120px;
    background-color: #f0f8ff;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
header img{
    margin-left: 22%;
    width: 10%;

}
.logoBuscar{
    display: flex;
    width: 70%;
    text-align: center;
    left: 38%;
    position: absolute;
}

.cart {
    padding: 1em;
    display: flex;
    background-color: #464646;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.22);
    flex-direction: column;
    align-items: center;
  }

  .cartButton{
    display: flex;
    justify-content: center; 
    padding: 1em; 
  }

  .userButton{
    background-color: #1117e3;
    text-decoration: none;
    color: #ffffff; 
    padding: 4px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 1px);
  }

  .userButton:hover{
    background-color: #ffffff;
    color: #1117e3;
}