
.containerUser{
    margin-top: 50PX;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 56VH;
    width: 100%;
    justify-content: space-around;
}

.infoBox{
    width: 20%;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f0f8ff;
    border: 2px solid rgb(187, 227, 233);
    border-radius: 15px;
    padding: 30px 2px;
    justify-content: space-between;
    height: auto;
    padding: 50px;
    align-items: baseline;
}
.btnEditImg{
    width: 100px;
    height: 30px;
}
.imgInfo{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 15px;
}
.imgEditUs{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.infoText{
    display: flex;
    flex-direction: column;
}

.historial{
    width: 50%;
    float: right;
    display: flex;
    background-color: #f0f8ff;
    border: 2px solid rgb(187, 227, 233);

    padding-left: 10px;
    height: 85%;
    padding-right: 10px;
    border-radius: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



.histTypo{
    padding: 8px;
    margin-left: -5px;

}

.tableBack{
    border: 2px solid rgb(187, 227, 233);
    border-radius: 4px;
    display: flex;
    margin: 5px;
    padding: 5px;
}

.tableblack h5{
    color: black;
}

thead,
tfoot {
  background-color: #3f87a6;
  color: #fff;
}

tbody {
  background-color: #e4f0f5;
}

caption {
  padding: 10px;
  caption-side: bottom;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 10px;
}

td {
  text-align: center;
}

.containerUser button{
    width: 15px;
    height: 18px;
    background-color: #2588c3;
    border-radius: 2px;
    border: 1px solid  #207aad ;
    cursor: pointer;
}

.containerUser button:hover{
    background-color: #206f9c;

}
.btnUserClose{
    margin-top: -2px;
    margin-left: 95%;
    font-size: 18px;
    width: 19px;
    cursor: pointer;
}

.edit{
    width: 15px;
}
.contData{
    display: flex;
    margin-bottom: 20px;
}